@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 56px;
    color: darkgreen;
}

a {
    text-decoration: none;
}

.our-team-container {
    display: flex;
    flex-direction: column;
    /* gap: 96px; */
    /* padding: 96px; */
}

.our-team-container-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 0 96px;
}

.our-team-container-head > p {
    font-size: 24px;
    text-align: center;
    line-height: 36px;
}

.our-team-container-nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    gap: 32px;
    background: rgba(255, 255, 255, 0.692);
    backdrop-filter: blur(16px);
    padding: 16px;
    margin-block: 16px;
}

button.slide-nav-button {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px 24px;
    border-radius: 8px;
    background: darkgreen;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

button.slide-nav-button:hover {
    transform: scale(1.125);
}

.team-members-group {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding: 0 96px;
}

/* .team-members-group .two {
    padding: 0 128px;
} */

.team-members {
    /* padding: 64px; */
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.team-member-card {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 16px;
    border-radius: 8px;
    box-shadow: 2px 0px 10px rgba(128, 128, 128, 0.322);
    cursor: pointer;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.team-member-card div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 16px 16px 16px;
}

.team-member-card > img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.member-info {
    display: none;
}

.team-member-card:hover {
    transform: scale(1.1);
}

.team-member-card:hover .member-info {
    display: block;
    position: absolute;
    background: white;
    width: fit-content;
    padding: 8px;
    margin-top: 260px;
    transition: 0.5s ease-in-out;
    font-size: 12px;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

#icon {
    width: 24px;
    height: 24px;
}

#promoters {
    grid-template-columns: repeat(3, 1fr);
    /* padding: 0 144px; */
}

#advisors {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 150px;
}

.single-line-para {
    margin-bottom: 16px;
}